body {
    background: #f5f6f9;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    padding-top: 30px;
    color: #222;
}


h2, a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
}    

h2:hover, a:hover{
    color: rgb(85, 108, 235);
}

p {
    text-align: left;
}